<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>提交</title>
    <script src="/static/js/jquery-3.3.1.min.js"></script>
    <script src="/static/js/upload_to_qiniu.js"></script>
</head>
<body>
    <form method="POST" action="http://127.0.0.1:8000/declare/" enctype="multipart/form-data">
        <input name="key" id="key" type="hidden" value="{{ key }}">
        <input name="token" id="token" type="hidden" value="{{ token }}">
        <input name="file" id="file" type="file" onchange="ajaxform()"></br>
        <input name="towho" id="towho" type="text" value="{{ form.towho.value }}"></br>
        <input name="anonymous" id="anonymous" type="text" value="{{ form.anonymous.value }}"></br>
        <input name="content" id="content" type="text" value="{{ form.content.value }}"></br>
        <input name="imgurl" id="img_url" type="hidden" value="">
        {% csrf_token %}
        <input type="submit" id="submit" onclick="ajaxform()">
        {% for key, error in form.errors.items %}{{ error }}{% endfor %}
    </form>
</body>
</html>